{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    <div class="main-banner">
        <div class="container">
            <div class="top-product">
                <div class="top-product__image-wrapper">
                    <img class="top-product__image" src="" alt="">
                </div>
                <div class="fw-flex fw-flex-column">
                    <div class="top-product__name">Montale Aoud Lagoon</div>
                    <div class="top-product__option">
                        <div class="top-product__option-name">
                            <span><b>3500 руб.</b></span>
                            <span>Объём: 20 мл</span>
                        </div>
                        <div class="fw-flex fw-flex-column fw-mr-10">
                            <div class="fw-flex">
                                <span class="top-product__count-minus">-</span>
                                <div><input class="top-product__count" type="text"></div>
                                <span class="top-product__count-plus">+</span>
                            </div>
                            <span class="fw-color-white">В наличии</span>
                        </div>
                        <div class="btn btn__in-cart">
                            <i class="icon-cart"></i>
                            <span>В корзину</span>
                        </div>
                    </div>

                    <div class="top-product__option">
                        <div class="top-product__option-name">
                            <span><b>3500 руб.</b></span>
                            <span>Объём: 20 мл</span>
                        </div>
                        <div class="fw-flex fw-flex-column fw-mr-10">
                            <div class="fw-flex">
                                <span class="top-product__count-minus">-</span>
                                <div><input class="top-product__count" type="text"></div>
                                <span class="top-product__count-plus">+</span>
                            </div>
                            <span class="fw-color-white">В наличии</span>
                        </div>
                        <div class="btn btn__in-cart">
                            <i class="icon-cart"></i>
                            <span>В корзину</span>
                        </div>
                    </div>

                    <div class="top-product__option">
                        <div class="top-product__option-name">
                            <span><b>3500 руб.</b></span>
                            <span>Объём: 20 мл</span>
                        </div>
                        <div class="fw-flex fw-flex-column fw-mr-10">
                            <div class="fw-flex">
                                <span class="top-product__count-minus">-</span>
                                <div><input class="top-product__count" type="text"></div>
                                <span class="top-product__count-plus">+</span>
                            </div>
                            <span class="fw-color-white">В наличии</span>
                        </div>
                        <div class="btn btn__in-cart">
                            <i class="icon-cart"></i>
                            <span>В корзину</span>
                        </div>
                    </div>

                    <div class="top-product__option">
                        <div class="top-product__option-name">
                            <span><b>3500 руб.</b></span>
                            <span>Объём: 20 мл</span>
                        </div>
                        <div class="fw-flex fw-flex-column fw-mr-10">
                            <div class="fw-flex">
                                <span class="top-product__count-minus">-</span>
                                <div><input class="top-product__count" type="text"></div>
                                <span class="top-product__count-plus">+</span>
                            </div>
                            <span class="fw-color-white">В наличии</span>
                        </div>
                        <div class="btn btn__in-cart">
                            <i class="icon-cart"></i>
                            <span>В корзину</span>
                        </div>
                    </div>
                </div>
                <div class="fw-flex fw-flex-column main-banner__slogan">
                    <h1>Лучшие духи 2017</h1>
                    <div class="main-banner__parfum-icon"><i class="icon-parfum"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-triggers">
        <div class="container">
            <div class="fw-flex">
                <div class="main-triggers__item">
                    <div class="fw-mr-30">
                        <i class="icon icon-original"></i>
                    </div>
                </div>
                <div class="main-triggers__item">
                    <div class="fw-mr-30">
                        <i class="icon icon-original"></i>
                    </div>
                </div>
                <div class="main-triggers__item">
                    <div class="fw-mr-30">
                        <i class="icon icon-original"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}