<header class="header fw-flex fw-flex-column">
    <div class="fw-flex fw-flex-middle fw-bg-color-smoky-white">
        <div class="container">
            <div class="fw-flex fw-flex-middle fw-pt-10 fw-pb-10">
                <div class="fw-mr-100">Интернет-магазин парфюма и косметики</div>
                <ul class="fw-flex fw-flex-middle header-top-menu">
                    <li class="header-top-menu__item"><a class="header-top-menu__item-link active" href="#">О нас</a>
                    </li>
                    <li class="header-top-menu__item"><a class="header-top-menu__item-link" href="#">Доставка и
                            оплата</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__item-link" href="#">Отзывы</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__item-link" href="#">Возврат</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__item-link" href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div>
            <span class="header-btn">Заказать звонок</span>
        </div>
    </div>
    <div class="container">
        <div class="fw-flex fw-flex-middle">
            <div class="logo-wrapper fw-mb-20">
                <img class="logo-image" src="" alt="">
            </div>
            <div class="site-name fw-mr-190">
                Sandra
            </div>
            <div class="fw-flex fw-flex-middle fw-width-230 fw-mr-60">
                <div class="trigger-icon"><i class="icon-parfume"></i></div>
                <div class="">Лучшие предложения по наборам и парфюму</div>
            </div>
            <div class="fw-flex fw-flex-middle fw-width-230 fw-mr-130">
                <div class="trigger-icon"><i class="icon-delivery"></i></div>
                <div class="">Доставка по всему Казахстану</div>
            </div>
            <div class="fw-flex fw-flex-column">
                <div class="">Ежедневно 10:00 - 21:00</div>
                <div class="">+7 (7232) 12 34 56</div>
            </div>
        </div>
    </div>

    <div class="fw-bg-color-black">
        <div class="container">
            <ul class="main-menu">
                <li class="main-menu__item"><a class="main-menu__item-link" href="#">Парфюмированные наборы</a></li>
                <li class="main-menu__item"><a class="main-menu__item-link" href="#">Парфюм</a></li>
                <li class="main-menu__item"><a class="main-menu__item-link" href="#">Миниатюрный парфюм</a></li>
                <li class="main-menu__item"><a class="main-menu__item-link" href="#">Нишевый парфюм</a></li>
            </ul>
        </div>
    </div>
</header>